/Exercicios1/Ex01-1/nbproject/private/
/Exercicios1/Ex01-1/build/
/Exercicios5/Ex05/nbproject/private/
/Exercicios4/Ex04/nbproject/private/
/Exercicios4/Ex04/build/
/Ex08/nbproject/private/
/Exercicios8/Ex08/nbproject/private/